.right-bar {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.friend-photo {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 7px;
}

.friend-list {
    display: inline-flex;
    align-items: center;
}